<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum=1.0,minimum=1.0,user-scalable=0" />
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="js/iview.css">
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/iview.min.js"></script>





    <script src='js/three.min.js'></script>
    <script src='js/OrbitControls.js'></script>
    <script src='js/Detector.js'></script>
    <script src='js/stats.min.js'></script>
    <script src="js/DragControls.js"></script>
    <script src="js/util.js"></script>
    <script src="js/levelData.js"></script>

    <script src="js/map/level_1.js"></script>
    <script src="js/map/level_2.js"></script>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <style type="text/css">
        .startCon{
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("assets/bg.jpg");
            background-repeat: no-repeat;
            top:0;
            background-size:100% 100%;
            position:absolute;
            z-index: 9999999;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .startTitle{
            width: 100%;
            height:118px;
            /*background-repeat: no-repeat;*/
            /*background-image: url("assets/title.png");*/
            /*margin-left:calc(50% - 150px);*/
            font-size: 50px !important;
            margin-top: 40px;
        }
        .startBtn{
            width: 192px;
            height: 50px;
            /*background-image: url("assets/startBtn.png");*/
            cursor: pointer;
            margin-bottom: 80px;
            margin-left:calc(50% - 90px);
        }

        /*艺术字*/
         .test:after{filter:url(#light-top)}
        .dilate:before{filter:url(#dilate10)}
        .dilate:after{filter:url(#dilate6)}
        .erode:after{filter:url(#erode2)}
        .distant1:after{filter:url(#distant1)}
        .distant-top:after{filter:url(#distant-top)}
        .distant-front:after{filter:url(#distant-front)}
        .diff1{filter:url(#diff1)}
        .bevel,.bevel:after{filter:url(#light2)}

        /*button*/

    </style>

    <script src="js/map/level2_1.js"></script>
    <script src="js/map/level2_2.js"></script>
    <script src="js/map/level3_1.js"></script>
    <script src="js/map/level3_2.js"></script>
    <script src="js/map/level4_1.js"></script>
    <script src="js/map/level4_2.js"></script>
    <script src="js/map/level5_1.js"></script>
    <script src="js/map/level5_2.js"></script>
    <script src="js/map/level6_1.js"></script>
    <script src="js/map/level6_2.js"></script>
    <script src="js/map/level7_1.js"></script>
    <script src="js/map/level7_2.js"></script>
    <script src="js/map/level8_1.js"></script>
    <script src="js/map/level8_2.js"></script>
    <script src="js/map/level9_1.js"></script>
    <script src="js/map/level9_2.js"></script>
    <script src="js/map/level10_1.js"></script>
    <script src="js/map/level10_2.js"></script>
    <script src="js/map/level11_1.js"></script>
    <script src="js/map/level11_2.js"></script>
    <script src="js/map/level12_1.js"></script>
    <script src="js/map/level12_2.js"></script>
    <script src="js/map/level13_1.js"></script>
    <script src="js/map/level13_2.js"></script>
    <script src="js/map/level14_1.js"></script>
    <script src="js/map/level14_2.js"></script>
    <script src="js/map/level15_1.js"></script>
    <script src="js/map/level15_2.js"></script>
    <script src="js/map/level16_1.js"></script>
    <script src="js/map/level16_2.js"></script>

    <script src="js/map/level17_1.js"></script>
    <script src="js/map/level17_2.js"></script>
    <script src="js/map/level18_1.js"></script>
    <script src="js/map/level18_2.js"></script>
    <script src="js/map/level19_1.js"></script>
    <script src="js/map/level19_2.js"></script>
    <script src="js/map/level20_1.js"></script>
    <script src="js/map/level20_2.js"></script>
    <script type="text/javascript">
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
            if(r!=null)return  unescape(r[2]); return null;
        }
        var level = 1;
        if(GetQueryString('level'))level = GetQueryString('level');

    </script>
</head>
<body>

<div id="app">
    <div class="startCon" v-if="startShow">

        <div>
            <div class="startTitle diff1">
                <!--<a href="#material" class="button glossy back">模拟组托游戏</a>-->
                模拟组托游戏
            </div>
            <div class="diff1" style="font-size: 25px;position: relative;top: -45px;">
                <!--<a href="#material" class="button glossy back">模拟组托游戏</a>-->
                内蒙古交通职业技术学院
            </div>

        </div>

        <div class="startBtn" @click = "startShow=false">
            <a  class="button  glossy" data-icon="☜" style="width: 170px;">开始游戏</a>
        </div>
    </div>
    <Modal v-model="visible"
           title="第一关"
           mask-closable="false"
           @on-ok="ok"
           @on-cancel="cancel">
        请选择开始方式:
        <Radio-group v-model="startType">
            <Radio label="奇数层码放"></Radio>
            <Radio label="偶数层码放"></Radio>
        </Radio-group>
    </Modal>


    <div style="position: absolute;margin: auto;color: red;font-weight: bold;font-size: 20px;width: 100%">
       {{tipMessage}}
    </div>

    <div style="position: absolute;margin: 10px;z-index:999" id="inforCon" v-show="showInfor">
        <Card style="width:300px;font-size: 15px" v-if="showInfor">
            <p slot="title" style="font-size: 18px;font-weight: normal">
                基础信息
            </p>
            <a href="#" slot="extra" @click="showInfor=false">
                <Icon type="ios-close" size="25"/>
                Change
            </a>
            <div style="padding: 0 10px;text-align: left">
                <div style="margin-bottom: 10px">货品名称:<span style="margin-left: 10px">{{levelData[level].name}}</span></div>
                <div style="margin-bottom: 10px">纸箱尺寸:<span style="margin-left: 10px">{{levelData[level].size}}</span></div>
                <div style="margin-bottom: 10px">纸箱个数:<span style="margin-left: 10px">{{multiplication4(levelData[level].num)}}</span></div>
                <div style="margin-bottom: 10px">托盘尺寸:<span style="margin-left: 10px">1200×1000×160</span></div>
                <div style="margin-bottom: 20px">剩余时间:<span style="margin-left: 10px">{{countTime}}</span></div>

                <div v-if="showAddLayerBtn && showImageDiv">
                    <Divider>图纸</Divider>
                    <Radio-group v-model="startType" type="button" style="margin-left: 15px;margin-bottom: 10px">
                        <Radio label="奇数层码放"></Radio>
                        <Radio label="偶数层码放"></Radio>
                    </Radio-group>
                    <img style="width: 100%" v-if="startType=='奇数层码放'" :src=`assets/map/${level}-1.jpg`>

                    <img style="width: 100%" v-if="startType=='偶数层码放'" :src=`assets/map/${level}-2.jpg`>
                </div>

            </div>
        </Card>
    </div>

    <div style="position: absolute;right: 10px;top: 10px;font-size: 30px;z-index:999">
        <Button-group vertical>
            <i-button icon="ios-add-circle-outline" style="font-size: 15px" @click="addBox">添加箱子</i-button>
            <!--<i-button icon="ios-move" style="font-size: 15px">移动箱子</i-button>-->
            <i-button icon="ios-sync" style="font-size: 15px" @click="rotate">旋转箱子</i-button>
            <i-button icon="ios-trash-outline" style="font-size: 15px" @click="deleteBox">删除箱子</i-button>
            <i-button icon="ios-hammer-outline" style="font-size: 15px" @click="deleteBoxByLayer">删除该层</i-button>
            <i-button icon="ios-list-box-outline" style="font-size: 15px" @click="showInfor=!showInfor">{{showInfor?'隐藏详情':'查看详情'}}</i-button>
            <i-button icon="ios-images" style="font-size: 15px" @click="showImage" v-if="showAddLayerBtn">{{showImageDiv?'隐藏图纸':'查看图纸'}}</i-button>
            <i-button icon="ios-list-box-outline" style="font-size: 15px" @click="addLayer" v-if="showAddLayerBtn">添加整层</i-button>
            <i-button icon="ios-list-box-outline" style="font-size: 15px" @click="nextScene" v-if="showAddLayerBtn">进入下关</i-button>
        </Button-group>
    </div>


    <div id="viewport"></div>
    


</div>
<script>

        var vm=new Vue({
            el: '#app',
            data: {

                visible:false,


                startType:'奇数层码放',
                countTime:'',
                newTime:'',
                showInfor:false,
                showAddLayerBtn:false,
                startShow:true,
                tipMessage:'',
                level:19,
                showImageDiv:false
            },
            mounted:function(){

                this.level = level;
                if(level==1){
                    this.startShow = true;
                }else{
                    this.startShow = false;
                }
                this.newTime = (new Date()).getTime()+15*60*1000;
                this.getDate();
                setInterval(this.getDate, 1000);


            },
            created:function(){
                this.newTime = (new Date()).getTime()+15*60*1000;
                this.getDate();
                setInterval(this.getDate, 1000);
            },
            methods: {
                multiplication4:function(a){
                    return a*4
                },
                showImage:function(){
                    this.showInfor = true;
                    this.showImageDiv=!this.showImageDiv;
                },
                nextScene:function(){
                    this.$Message.info('数据维护中。。。');
                    window.location.href = window.location.origin+window.location.pathname+'?level='+(Number(level)+1);
                },
                addLayer:function(){
                    addLayer();
                },
                addBox:function(){
                    addBox();
                },
                deleteBox:function(){
                    if(selectionBoxEdage){
                        deleteBox();
                    }else {
                        this.$Message.info('请先选择要删除箱子');
                    }
                },
                rotate:function(){
                    if(selectionBoxEdage){
                        rotate90();
                    }else {
                        this.$Message.info('请先选择要旋转箱子');
                    }
                },
                deleteBoxByLayer:function(){
                        deleteBoxByLayer();
                },
                deleteBoxByLayer:function(){
                        deleteBoxByLayer();
                },
                show: function () {
                    this.visible = true;
                },
                ok:function (){
                    this.newTime = (new Date()).getTime()+15*60*1000;
                    this.getDate();
                    setInterval(this.getDate, 1000);
                    this.showInfor = true;

                    var h =Number(levelData[this.level].size.split('×')[2])*.1*.5;

                    if(this.startType=='奇数层码放'){
//                        loadMap1(h);
//                        loadMap2(h);
                    }else{
//                        loadMap1(h);
//                        loadMap2(h);

                        window['loadMap'+this.level+'_1']();
                        window['loadMap'+this.level+'_2']();
                    }
                    for(var i=0;i<mapMeshs[i].length;i++){
                        mapMeshs[i].visible = false;
                        mapMeshs[i].material = new THREE.MeshBasicMaterial({opacity: 0, transparent: true}) ;

                    }
                    addBox();
                    render()
                },
                cancel:function (){

                },
                tow:function(n) {
                    return n >= 0 && n < 10 ? '0' + n : '' + n;
                },
                getDate:function(){
                    var oDate = new Date();//获取日期对象
                    var oldTime = oDate.getTime();//现在距离1970年的毫秒数
                    var second = Math.floor((this.newTime - oldTime) / 1000);//未来时间距离现在的秒数
                    var day = Math.floor(second / 86400);//整数部分代表的是天；一天有24*60*60=86400秒 ；
                    second = second % 86400;//余数代表剩下的秒数；
                    var hour = Math.floor(second / 3600);//整数部分代表小时；
                    second %= 3600; //余数代表 剩下的秒数；
                    var minute = Math.floor(second / 60);
                    second %= 60;
                    this.countTime = this.tow(minute)+'分钟'+this.tow(second) + '秒';

                }
            }
        });



    var oBox = document.getElementById("inforCon");
    var oBar = document.getElementById("inforCon");
    startDrag(oBar, oBox);
</script>

</body>



<script src="js/init3d_v2.0.js"></script>
<script type="text/javascript">
    var h =Number(levelData[vm.level].size.split('×')[2])*.1*.5;
//    loadMap1(h);
//    loadMap2(h);

    window['loadMap'+vm.level+'_1']();
    window['loadMap'+vm.level+'_2']();
    addBox();
    render();
    setTimeout(render,1000)

//    if(level!=3){
//        setTimeout(function(){
//            window.location.href = 'http://localhost:8090/moveBox3d/kongss1990.github.com/index.html?level=19'
//
//            window.location.href = window.location.origin+window.location.pathname+'?level='+(Number(level)+1);
//        },1000)
//    }

</script>

</html>
